.App {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: rgb(96, 96, 96);
}

.show_modal {
  background-color: #4caf50; /* Green */
}

.close_modal {
  background-color: #f44336;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: auto 5rem auto 5rem;
  background-color: rgb(255, 255, 255);
  transition: all 400ms ease-in-out;
}

.show_modal,
.close_modal {
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 1rem;
  transition: all 400ms ease-in-out;
  font-weight: bold;
}
.show_modal:hover {
  transform: scale(0.9);
}

.modal button {
  margin-left: auto;
}
.modal p {
  padding: 20px;
}
